html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  width: 100%;
}

p{
  width: 100%;
}

.main{
  min-height: 100vh;
  width: 100%;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
}

.section{
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 0 0 0;
  align-items: flex-start;
  position: relative;
}

.splash{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100vh;
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.splash::before{
  content: "";
  position: absolute;
  top: 0;
  left: -1vw;
  width: 102vw;
  height: 105vh;
      background-image: url("/laptop-ga99e6e23c_1920.jpg");
      background-position: center;
      background-size: cover;
      z-index: -1;
      filter: blur(10px);
}

.splashSpan{
  text-shadow: 2px 2px 5px blue, -2px -2px 5px blue, -2px 2px 5px deeppink, 2px -2px 5px deeppink;
  text-align: center;
}

.callToAction {
  position: absolute;
  color: white;
  border: 0;
  outline: 0;
  margin: 0;
  background-color: #663dff;
  opacity: 0.9;
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callToAction a{
  width: 100%;
  height: 100%;
  position: relative;
}

@media (orientation: landscape) {
  .splashSpan {
    font-size: 5vw;
  }
  .callToAction{
    bottom: 10vh;
    width: 30vw;
    font-size: 4vw;
    height: 6vw;
  }
}

@media (orientation: portrait) {
  .splashSpan {
    font-size: 5vh;
  }
    .callToAction {
      bottom: 10vw;
      width: 30vh;
      font-size: 4vh;
      height: 6vh;
    }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
