.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    z-index: 200;
}

.navbarList{
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbarItem{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0;
    padding: 0;
}

.navbarItem::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}

.navbarItem:nth-child(1)::before{
    border-left: none;
}

.navbarItem:last-child::before{
    border-right: none;
}

.navbarItemLink{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
}

.navbarItemLink:hover{
    background: rgba(0,0,0,0.2);
}