.container{
    position: absolute;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    margin: 0 0 2rem 0;
}

.tile{
    position: relative;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bigScreen{
    width: 100vw;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px 5px black, 0px -5px 5px 5px black;
}

.bigImage{
    width: 40%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bigText{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: white;
    height: 100%;
    padding: 1rem;
}

@media (orientation: landscape) {
    .bigText{
        width: 60%;
    }
}

@media (orientation: portrait) {
    .bigImage {
        display: none;
    }

    .bigText {
        width: 100vw;
    }
}