.container{
    position: absolute;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    margin: 0 0 2rem 0;
}

.tile{
    position: relative;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bigScreen{
    width: 100vw;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    box-shadow: 0px 5px 5px 5px deeppink, 0px -5px 5px 5px deeppink, inset 0px 5px 5px 5px deeppink, inset 0px -5px 5px 5px deeppink;
    box-sizing: border-box;
}

.bigImage{
    width: 40%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bigText{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    padding: 1rem;
    color: white;
}

.bigText h2{
    display: flex;
    align-items: center;
}

.span{
    margin: 0 1rem 0 0;
}

.wNext{
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bigTextP{
    margin: 0;
}

.tech{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 1rem;
}